@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.LayoutLib.YAxisLib
@using Plotly.Blazor.Traces.ScatterLib
@using System.Diagnostics
@using Alisson.MonitorAgua
<PlotlyChart Id="TestId" Config="config" Layout="layout" Data="data" @ref="chart"/>

@*<div class="text-right">
    <button type="button" class="btn btn-primary" @onclick="() => Clear()">Clear</button>
    <button type="button" class="btn btn-primary" @onclick="() => AddData()">Add data</button>
</div>*@

@code
{
    PlotlyChart chart;

    Config config = new Config
    {
        Responsive = true,
    };

    Layout layout = new Layout
    {
        Title = new Title
        {
            Text = "Consumo de Água (Média diária por mês)"
        },
        YAxis = new List<YAxis>
        {
            new YAxis
            {
                Title = new LayoutLib.YAxisLib.Title
                {
                    Text = "Litros"
                }
            },
            //new YAxis
            //{
            //    Title = new LayoutLib.YAxisLib.Title
            //    {
            //        Text = "Temperatura"
            //    },
            //    Overlaying = "y",
            //    Side = SideEnum.Right
            //}
        },
        Height = 500,
        XAxis = new List<XAxis>
        {
            new XAxis
            {
              AutoMargin = true
            }
        }
    };

    List<ITrace> data = new List<ITrace>
    {
        new Scatter
        {
            Name = "ScatterTrace",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = new List<object>(),
            Y = new List<object>()
        },
        //new Bar
        //{
        //    Name = "BarTrace",
        //    YAxis = "y2",
        //    X = new List<object>(),
        //    Y = new List<object>(),
        //    Opacity = new decimal(0.7)
        //}
    };

    private async Task AddData(int count = 100)
    {
        if (!(chart.Data.ElementAt(0) is Scatter scatter)) return;
        //if (!(chart.Data.ElementAt(1) is Bar bar)) return;

        var contexto = new AppDBContext();

        //var (x, y) = Helper.GenerateData(scatter.X.Count + 1, scatter.X.Count + 1 + count);

        //var (x, y) = Helper.GenerateData(10, 100);
        //var (x2, y2) = Helper.GenerateData(bar.X.Count + 1, bar.X.Count + 1 + count, GenerateMethod.Cos);
        //var (x2, y2) = Helper.GenerateData(0, 20, GenerateMethod.Cos);

        var listDays = (from d in contexto.Datas
                        join s in contexto.Sensors
                        on d.SensorId equals s.Id
                        where s.NameSensor == "vazao"
                        select d.TimeStamp).ToList();

        var listByMonths = listDays.GroupBy(m => m.Date.ToString("MM/yyyy"))
                                    .Select(d => new { Key = d.Key, Itens = d.ToList() });

        List<string> listaMesesDoAno = new List<string>();
        List<int> listaContadoresRegistrosPorMes = new List<int>();

        foreach(var item in listByMonths)
        {
            //var dataFormatada = TimeZoneInfo.ConvertTime(item, TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time"));
            //list.Add(dataFormatada.ToString("dd/MM/yyyy HH:mm:ss"));
            listaMesesDoAno.Add(item.Key);
            listaContadoresRegistrosPorMes.Add(item.Itens.Count);

        }

        var listaByValues = contexto.Sensors.Select(s => s.Value).ToList();

        List<string> listaMediaDeVazaoPorMes = new List<string>();

        int iterador = 0;
        
        //percorre a lista de contadores para somar os valores e fazer a media manualmente
        //logica provisoria
        foreach(var item in listaContadoresRegistrosPorMes)
        {
            double soma = 0;

            for(int i = iterador; i < (iterador + item); i++)
            {
                soma += listaByValues[i];
            }
            iterador += item;
            double valor = (soma /= item)/10;
            listaMediaDeVazaoPorMes.Add(valor.ToString("0.0"));
        }

        scatter.X.AddRange(listaMesesDoAno);
        scatter.Y.AddRange(listaMediaDeVazaoPorMes);

        //bar.X.AddRange(x2);
        //bar.Y.AddRange(y2);

        var stopwatch = new Stopwatch();
        stopwatch.Start();
        await chart.React();
        stopwatch.Stop();
        Console.WriteLine($"[PERF.] Update took {stopwatch.ElapsedMilliseconds}");
    }

    private async Task Clear()
    {
        if (!(chart.Data.ElementAt(0) is Scatter plot)) return;
        if (!(chart.Data.ElementAt(1) is Bar plot2)) return;

        plot.X.Clear();
        plot.Y.Clear();

        plot2.X.Clear();
        plot2.Y.Clear();

        await chart.React();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await chart.React();
            await AddData();
        }
    }
}