@page "/about"

<Example Title="Sobre">
    <div>
        <p>
            Projeto de SmartHome para controle do consumo de água na residência.<br/> 
            Esp32 envia mensagens via protocolo MQTT para aplicação console que grava no BD na nuvem.<br/>
            Aplicação Web lê do BD e alimenta o gráfico da biblioteca Blazor/Plotly em .NET6.<br/>
            Código do firmware <a href="https://github.com/apazze/ProjetoTCC/tree/main/MonitorAgua"> aqui</a> 
                e das aplicações Console e Web <a href="https://github.com/apazze/Alisson.MonitorAgua.BlazorMqttEsp32"> aqui</a>
        </p>
        <img src="/images/esp32.jpeg" alt="Esp32 com sensor de vazao" width="400" height="350" >
        
    </div>
</Example>