@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    @*<div class="top-row px-3">
        <a href="/" target="_blank">Monitor</a>
        <a href="about" target="_blank">Sobre</a>
        <a href="rule" target="_blank">Regra</a>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
    
</div>